@use "theme";

@mixin defaultButton() {
  border-radius: 5px;
  padding: 0.3em 0.9em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: theme.$accent-secondary;
  transition: 0.2s;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, theme.$accent-secondary, white 10%);
    box-shadow: 0px 2px theme.$shadow;
  }
}

@mixin reset() {
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

@mixin coverImage() {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    aspect-ratio: 12 / 5;
    width: 100%;
    max-width: 800px;
    width: 100%;
    object-fit: cover;
  }
}

@mixin template() {
  background-color: theme.$secondary-color;
  margin-bottom: 25px;
  padding-bottom: 15px;

  ol {
    border-top: 1px solid theme.$text-secondary;
    text-align: left;
  }

  ul {
    border: 1px solid theme.$text-secondary;
    margin: 0 20px;
  }

  h2,
  a h3 {
    padding-top: 15px;
  }

  h4 {
    margin: auto;
    margin-top: 25px;
    margin-bottom: -9px;
    padding: 0 7px;
    width: fit-content;
    color: theme.$text-primary;
    font-weight: 600;
    background-color: theme.$secondary-color;
    text-decoration: underline theme.$accent;
    position: relative;
    z-index: 3;
  }

  h2,
  h3 {
    display: block;
    width: fit-content;
    margin: auto;
  }

  .confirmButton {
    margin-bottom: 15px;
  }
}

@mixin toggle() {
  position: relative;
  display: inline-block;
  top: 5px;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;

    &:checked {
      + label {
        background: theme.$accent;

        &::after {
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }
      }
    }
  }

  label {
    cursor: pointer;
    width: 36px;
    height: 20px;
    background: theme.$mid-color;
    display: block;
    border-radius: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      background: #fff;
      border-radius: 50%;
      transition: 0.3s;
    }

    &:active::after {
      width: 20px;
    }
  }
}

.material-symbols-outlined {
  user-select: none;
}
