@use "theme";
@use "defaults";

// drag n drop container
.dndCont {
  .droppable {
    min-height: 60px;
    position: relative;
  }

  // placeholder on empty ranked container
  .placeholder {
    height: 120px;
    align-content: center;
    opacity: 0.5;
    transition: 0.2s;
    border: 1px solid theme.$accent-secondary;
    user-select: none;

    &.blank {
      height: 60px;
      border: none;
      font-size: 10pt;
    }
  }

  // droppable section when dragging over it
  .dragOver {
    background-color: color-mix(
      in srgb,
      theme.$accent,
      theme.$secondary-color 70%
    );

    .placeholder {
      height: 0px;
      opacity: 0;
    }
  }

  // droppable section when no dragging
  .no-drag {
    background-color: theme.$secondary-color;
  }

  // draggable item when dragging
  .dragging {
    background-color: color-mix(
      in srgb,
      theme.$secondary-color,
      theme.$mid-color 20%
    );
  }

  // unused items container
  #unused {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: theme.$mid-color theme.$secondary-color;

    .rank-item {
      font-size: 10pt;
      padding: 0;
    }

    .no-drag {
      background-color: color-mix(
        in srgb,
        theme.$secondary-color,
        theme.$primary-color 75%
      );
    }
  }
}

// general rank item styles
.rank-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px 5px 5px 10px;
  min-height: 50px;
  text-align: left;

  // number colors
  &:nth-child(1) .rank-number {
    color: theme.$gold;
  }
  &:nth-child(2) .rank-number {
    color: theme.$silver;
  }
  &:nth-child(3) .rank-number {
    color: theme.$bronze;
  }

  // number styles
  .rank-number {
    color: theme.$accent;
    font-size: 16pt;
    font-family: "Alfa Slab One", serif;
    font-weight: 800;
    padding: 10px;
    min-width: 20px;
  }

  p {
    flex: 1;
    &:nth-child(1) {
      padding-left: 30px;
    }

    // note in ranking mode
    &.rankedNote {
      @include defaults.smallText();
      @include defaults.noteIcon();
      position: relative;
      margin: -15px 0 0 45px;
      padding: 0 20px 0 20px;
      flex: 100%;

      &.img {
        margin: -15px 0 0 85px;
      }
    }
  }

  input[type="text"] {
    flex: 1;
  }

  .noteArea {
    resize: vertical;
    flex: 100%;
  }

  button {
    @include defaults.smallButton();
    margin: 10px;
  }
}

.dndCont ~ .dndCont {
  .rank-item {
    min-height: 40px;
  }
}
