@use "theme";

.dndCont {
  .droppable {
    min-height: 50px;
  }

  .dragOver {
    background-color: color-mix(
      in srgb,
      theme.$accent,
      theme.$secondary-color 70%
    );
  }

  .no-drag {
    background-color: theme.$secondary-color;
  }

  .dragging {
    background-color: color-mix(
      in srgb,
      theme.$secondary-color,
      theme.$mid-color 20%
    );
  }
}
