.dndCont {
  .droppable {
    min-height: 50px;
  }

  .dragOver {
    background-color: lightgray;
  }

  .no-drag {
    background-color: darkgray;
  }

  .dragging {
    background-color: darkmagenta;
  }
}
