@use "theme";
@use "search";

@mixin defaultTemplate() {
  background-color: theme.$secondary-color;
  border-bottom: 1px solid theme.$text-secondary;
  margin-bottom: 25px;

  ul,
  ol {
    border-top: 1px solid theme.$text-secondary;
  }

  h2,
  a h3 {
    padding-top: 15px;
  }

  a,
  h2,
  h3 {
    display: block;
    width: fit-content;
    margin: auto;
  }

  .confirmButton {
    margin-bottom: 15px;
  }
}

.template {
  @include defaultTemplate();

  ul {
    padding: 15px 0;

    li {
      display: inline-block;
      padding: 5px 20px;
    }
  }

  p.creator {
    font-size: 12pt;
  }

  .editButton {
    position: relative;
    float: right;
    padding-top: 10px;
    width: 0;
    right: 30px;

    span {
      font-size: 14pt;
    }
  }
}

.rank-container {
  @include defaultTemplate();
}

.loadMoreButton {
  margin-top: 15px;
}

.cancelButton,
.promptButton {
  @include search.altButton(theme.$mid-color);
  margin-bottom: 10px;
}

.confirmButton {
  @include search.altButton(theme.$warning);
}
