@use "theme";
@use "search";
@use "defaults";

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

%justifiedInputs {
  display: grid;
  grid-template-columns: minmax(0, 40%) minmax(0, 60%);
  gap: 10px;

  label {
    text-align: left;
  }

  textarea {
    min-height: 50px;
    resize: vertical;
  }
}

%smallText {
  grid-column: 1/3;
  font-size: 10pt;
  color: theme.$text-secondary;
}

%noteIcon {
  // icon before item note
  &::before {
    content: "notes";
    font-family: "Material Symbols Outlined";
    position: absolute;
    left: 0;
    top: 1px;
  }
}

%smallButton {
  margin: 0;
  padding: 2px 4px;
}

// displaying templates
.template {
  @include defaults.template();

  ul {
    padding: 15px 0;

    li {
      display: inline-block;
      padding: 5px 20px;
    }
  }

  p.creator {
    font-size: 12pt;
  }
}

// displaying top lists
.rank-container {
  @include defaults.template();

  // top list rankings
  ol li {
    padding: 10px;
    position: relative;

    // number styles
    &::marker {
      color: theme.$accent;
      font-size: 16pt;
      font-family: "Alfa Slab One", serif;
      padding-top: 2px;
    }

    p {
      margin: 0;
      min-height: 20px;
    }

    &:nth-child(1)::marker {
      color: theme.$gold;
    }

    &:nth-child(2)::marker {
      color: theme.$silver;
    }

    &:nth-child(3)::marker {
      color: theme.$bronze;
    }
  }
}

.no-title {
  margin-top: 50px;
}

// custom styles for file input
.fileInput {
  cursor: pointer;
  width: 40px;
  height: 40px;

  // upload icon
  &::before {
    font-family: "Material Symbols Outlined";
    content: "upload";
    font-size: 22pt;
    color: theme.$text-primary;
  }
  input {
    visibility: hidden;
  }
}

// info container
.info {
  @extend %justifiedInputs;
  align-items: center;

  h2,
  #imagePreview {
    grid-column: 1/3;
  }

  // cover image
  #imagePreview {
    @include defaults.coverImage();
    display: block;
    position: relative;

    // remove cover image button
    button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0.3em 0.7em;
    }
  }
}

// adding items and tags
.addCont {
  width: 80%;
  margin: auto;

  ul li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 10px 0;

    input {
      flex-grow: 1;
    }

    .suggestionCont {
      position: relative;

      .suggestions {
        max-height: 120px;
      }
    }

    input[type="search"] {
      width: 100%;
    }

    button {
      @extend %smallButton;
    }
  }

  .toggle {
    @include defaults.toggle();
  }
}

.coverImage {
  @include defaults.coverImage();
}

.rank-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px 5px 5px 10px;
  min-height: 50px;
  text-align: left;

  &:nth-child(1) .rank-number {
    color: theme.$gold;
  }

  &:nth-child(2) .rank-number {
    color: theme.$silver;
  }
  &:nth-child(3) .rank-number {
    color: theme.$bronze;
  }

  .rank-number {
    color: theme.$accent;
    font-size: 16pt;
    font-family: "Alfa Slab One", serif;
    font-weight: 800;
    padding: 10px;
    min-width: 20px;
  }

  p {
    flex: 1;
    &:nth-child(1) {
      padding-left: 30px;
    }

    // note in ranking mode
    &.rankedNote {
      @extend %smallText;
      @extend %noteIcon;
      position: relative;
      margin: -15px 0 0 45px;
      padding: 0 20px 0 20px;
      flex: 100%;

      &.img {
        margin: -15px 0 0 85px;
      }
    }
  }

  .noteArea {
    resize: vertical;
    flex: 100%;
  }

  button {
    @extend %smallButton;
    margin: 10px;
  }
}

.dndCont ~ .dndCont {
  .rank-item {
    min-height: 40px;
  }
}

.newItemsCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;

  button {
    @extend %smallButton;
  }

  input {
    min-width: 70px;
  }
}

.editkeyField {
  @extend %justifiedInputs;
  padding: 10px 0;
}

.templateInfo {
  .alt {
    font-weight: 800;
  }

  &.desc {
    margin: -10px 0 20px 0;
    font-size: 10pt;
  }
}

.createRank {
  .rankInfo {
    @extend %justifiedInputs;
  }
}

// buttons
.resetButton,
.backButton {
  @include search.altButton(theme.$mid-color);
  margin-top: 20px;
}

.loadMoreButton {
  @include defaults.defaultButton();
  margin-top: 15px;
}

.cancelButton,
.promptButton {
  @include search.altButton(theme.$mid-color);
  margin-bottom: 10px;
}

.confirmButton {
  @include search.altButton(theme.$warning);
}

// error visuals
.error {
  box-shadow: 0px 0px 5px 0px #ff0000;
}

// small text
.smallPrint {
  @extend %smallText;
}

// item notes
.itemNote {
  @extend %smallText;
  @extend %noteIcon;
  padding-left: 20px;
  position: relative;
}

// item images
.itemImage {
  width: 40px;
  height: 40px;
  padding-right: 10px;

  img {
    width: inherit;
    height: 100%;
    object-fit: cover;
  }

  .imagePlaceholder {
    font-size: 24pt;
    height: 100%;
    line-height: 40px;
    color: theme.$mid-color;
  }
}

// category dropdown
.newTemplate {
  .dropdownElement {
    margin: 5px 0;
    label {
      flex-grow: 1;
      text-align: start;
    }

    .dropdownCont {
      flex-grow: 1;
      z-index: 2;
      button {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.itemsPreview {
  ul {
    border: 1px solid theme.$text-secondary;
    margin: 0 20px;
    padding: 10px 0;
    li {
      display: inline-block;
      padding: 2px 15px;
    }
  }

  h4 {
    margin: auto;
    margin-bottom: -9px;
    padding: 0 7px;
    width: fit-content;
    color: theme.$text-primary;
    font-weight: 600;
    background-color: theme.$primary-color;
    text-decoration: underline theme.$accent-secondary;
    position: relative;
    z-index: 3;
  }
}
