@use "theme";
@use "defaults";
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

@mixin login() {
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    label,
    input {
      display: block;
      flex-grow: 1;
      text-align: left;
    }

    button {
      width: 100%;
      margin: auto;
    }
  }
}

@mixin navDefaults() {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    position: relative;
    z-index: 3;
    background-color: theme.$primary-color;

    li {
      padding: 0 10px;
      line-height: 12px;

      a,
      div {
        color: theme.$accent;

        &.active {
          color: theme.$gold;
        }
      }

      .icon {
        display: block;
        font-size: 20pt;
        user-select: none;
      }

      .linkName {
        font-weight: 400;
        font-size: 8pt;
      }
    }

    #logoCont span {
      font-size: 16pt;
      line-height: 20pt;
    }
  }
}

nav {
  @include navDefaults();
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;

  ul {
    padding: 15px 10px 5px 10px;

    li:first-child {
      flex-grow: 1;
    }
  }
}

.mobileNav {
  @include navDefaults();
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;

  ul {
    padding: 15px 10px 15px 10px;
  }
}

.hiddenMenuCont {
  transition: 0.2s;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;

  .hiddenMenu {
    position: relative;
    transition: 0.2s;
    width: 0;
    background-color: theme.$primary-color;
    overflow: hidden;

    .innerMenu {
      padding: 10px 20px;

      .menuItems {
        padding-top: 10px;

        ul li {
          padding: 10px 0;
          text-align: left;

          &:not(:last-child) {
            border-bottom: 1px solid
              color-mix(in srgb, theme.$shadow, transparent 80%);
          }

          div {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .closeButton {
        @include defaults.reset();
        user-select: none;
        color: theme.$accent;
        float: right;
      }

      .toggle {
        @include defaults.toggle();
      }
    }
  }

  &.active {
    transition: 150ms ease-in-out;
    background: color-mix(in srgb, theme.$shadow, transparent 80%);
    pointer-events: all;

    .hiddenMenu {
      width: 50%;
      max-width: 500px;
      transition: 150ms ease-in-out;
    }
  }
}

#loginCont {
  @include login();
}

.toggleLogin {
  cursor: pointer;
}

.loginButton {
  @include defaults.defaultButton();
}

#logoCont {
  font-family: "Viga", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;

  #logo {
    max-height: 30px;
  }

  span {
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
  }
}
