$primary-color: #24272b;
$secondary-color: #292e32;
$shadow: #000000;
$mid-color: #7f7b82;
$text-primary: #f7f3f1;
$text-secondary: #bfacb5;
$accent: #6a9d23;
$warning: #5c0f0f;
$gold: #d4af37;
$silver: #c0c0c0;
$bronze: #9f7a34;
