$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$shadow: var(--shadow);
$mid-color: var(--mid-color);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$accent: #6a9d23;
$warning: #5c0f0f;
$gold: #d4af37;
$silver: #c0c0c0;
$bronze: #9f7a34;

:root {
  --primary-color: #24272b;
  --secondary-color: #292e32;
  --shadow: #000000;
  --mid-color: #7f7b82;
  --text-primary: #f7f3f1;
  --text-secondary: #bfacb5;
}

[data-theme="light"] {
  --primary-color: #e1e4e9;
  --secondary-color: #eeeff2;
  --shadow: #000000;
  --mid-color: #7f7b82;
  --text-primary: #474a4f;
  --text-secondary: #50565e;
}
