@use "defaults";
@use "nav";
@use "lists";
@use "theme";
@use "dnd";
@use "search";
@use "user";

@mixin titles() {
  font-family: "Viga", sans-serif;
  span {
    color: theme.$accent;
  }
}

:root {
  background-color: theme.$primary-color;
  color: theme.$text-primary;
  overflow-x: hidden;
}

.center {
  margin-top: 50%;
}

// page container
.container {
  max-width: 550px;
  min-height: 100vh;
  margin: auto;
  padding: 50px 20px;
  overflow-x: hidden;
}

// remove list styles by default
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  @include titles();
}

// default link styles
a {
  color: theme.$accent;

  &:hover {
    color: color-mix(in srgb, theme.$accent, white 25%);
  }

  &.alt {
    color: theme.$accent-secondary;
  }
}

input,
textarea {
  border: 0;
  padding: 5px;
}

button {
  @include defaults.defaultButton();
}

footer {
  width: 100%;

  p {
    font-size: 10pt;
    opacity: 0.5;
  }

  &.mobile {
    padding-bottom: 60px;
  }
}

// bigger screen
@media only screen and (min-width: 850px) {
  .container {
    max-width: 1000px;
  }

  .no-stretch,
  .createRank,
  .pageInfo,
  .searchInput.general,
  .wordFilters {
    max-width: 550px;
    margin: auto;
  }

  .lists {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 50px;
  }
}

// very small screen
@media only screen and (max-width: 540px) {
  .container {
    padding: 50px 10px;
  }

  nav:not(.mobile) ul li {
    padding: 0 6px;
    line-height: 8px;
    .icon {
      font-size: 18pt;
    }

    .linkName {
      font-size: 6pt;
    }

    #logoCont span {
      font-size: 12pt;
    }
  }
}

// too small screens
@media only screen and (max-width: 330px) {
  nav:not(.mobile) ul li {
    #logoCont span {
      display: none;
    }
  }
}
