@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15px 10px 5px 10px;
  margin: 0;
  position: relative;
  z-index: 3;
  background-color: #24272b;
}
nav ul li {
  padding: 0 10px;
  color: #6a9d23;
}
nav ul li .icon {
  display: block;
  font-size: 20pt;
  margin-bottom: -5px;
}
nav ul li .linkName {
  font-weight: 400;
  font-size: 8pt;
}
nav ul li:first-child {
  flex-grow: 1;
}

.toggleLogin {
  cursor: pointer;
}

.fixedLogin {
  position: absolute;
  width: 100%;
  margin-top: -150px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #24272b;
  transition: 0.3s;
}
.fixedLogin div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: end;
  align-items: center;
  gap: 10px;
}
.fixedLogin div .buttonCont {
  grid-column: 1/3;
  width: 100%;
}
.fixedLogin div .buttonCont button {
  width: 100%;
  margin: auto;
}
.fixedLogin.active {
  margin-top: 0;
}

#logoCont {
  font-family: "Viga", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}
#logoCont #logo {
  max-height: 30px;
}
#logoCont span {
  text-align: left;
  padding-left: 5px;
  white-space: nowrap;
}

.nonFixedLogin div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: end;
  align-items: center;
  gap: 10px;
}
.nonFixedLogin div .buttonCont {
  grid-column: 1/3;
  width: 100%;
}
.nonFixedLogin div .buttonCont button {
  width: 100%;
  margin: auto;
}

.searchContainer h3 {
  margin: 15px;
}
.searchContainer input[type=search] {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  outline: 1px solid #000000;
  border: none;
  padding: 0 10px;
}
.searchContainer input[type=search]:focus {
  outline: 2px solid #7f7b82;
}
.searchContainer .searchInput {
  display: grid;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  gap: 10px;
}
.searchContainer .searchInput label {
  text-align: right;
}
.searchContainer .searchInput.general {
  display: flex;
  justify-content: start;
}
.searchContainer .searchInput.general div {
  flex-grow: 1;
}
.searchContainer .searchInput.general .searchWrapper::before {
  content: "search";
  font-family: "Material Symbols Outlined";
  position: absolute;
  font-size: 16pt;
  left: 5px;
  pointer-events: none;
}
.searchContainer .searchInput.general .searchButton {
  margin: 0;
}
.searchContainer .searchInput.general input[type=search] {
  height: 30px;
  border-radius: 15px;
  padding-left: 30px;
}
.searchContainer .searchInput.general .suggestions div {
  padding-left: 30px;
}
.searchContainer .suggestionCont {
  position: relative;
}
.searchContainer .suggestions {
  display: none;
  text-align: left;
  position: absolute;
  margin-top: 2px;
  background-color: #292e32;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
}
.searchContainer .suggestions.active {
  display: block;
}
.searchContainer .suggestions div {
  padding: 2px 10px;
}
.searchContainer .suggestions div:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, #7f7b82, transparent 70%);
}
.searchContainer .tagFilters li {
  display: inline-block;
}
.searchContainer .tagFilters input[type=checkbox] {
  width: 15px;
  height: 15px;
  position: relative;
  top: 1px;
  accent-color: #6a9d23;
  border: 1px solid black;
}
.searchContainer .closeButton,
.searchContainer .clearButton {
  background-color: color-mix(in srgb, #7f7b82, #24272b 35%);
  font-size: 0.85em;
}
.searchContainer .closeButton:hover,
.searchContainer .clearButton:hover {
  background-color: color-mix(in srgb, #7f7b82, #24272b 50%);
}
.searchContainer .showAdvancedButton {
  background-color: color-mix(in srgb, #7f7b82, #24272b 35%);
  font-size: 0.85em;
  margin-top: 10px;
}
.searchContainer .showAdvancedButton:hover {
  background-color: color-mix(in srgb, #7f7b82, #24272b 50%);
}
.searchContainer .dropdownElement {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.searchContainer .dropdownCont {
  position: relative;
  flex-grow: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.searchContainer .dropdownCont button {
  width: 100%;
  text-align: left;
  margin: 0;
  background-color: transparent;
  outline: 1px solid #000000;
}
.searchContainer .dropdownCont button::after {
  content: "unfold_more";
  font-family: "Material Symbols Outlined";
  position: absolute;
  right: 0;
  top: 6px;
}
.searchContainer .dropdownCont button:active, .searchContainer .dropdownCont button:focus {
  outline: 1px solid #6a9d23;
  box-shadow: 0px 0px 2px #6a9d23;
}
.searchContainer .dropdownCont button:hover {
  box-shadow: none;
}
.searchContainer .dropdownItems {
  position: absolute;
  width: 100%;
  background-color: #292e32;
  margin-top: 2px;
}
.searchContainer .dropdownItems ul {
  margin: 0;
}
.searchContainer .dropdownItems ul li {
  padding: 4px 15px;
  text-align: left;
}
.searchContainer .dropdownItems ul li:hover {
  cursor: pointer;
  background-color: color-mix(in srgb, #7f7b82, transparent 70%);
}

.template {
  background-color: #292e32;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
.template ol {
  border-top: 1px solid #bfacb5;
}
.template ul {
  border: 1px solid #bfacb5;
  margin: 0 20px;
}
.template h2,
.template a h3 {
  padding-top: 15px;
}
.template h4 {
  margin: auto;
  margin-top: 25px;
  margin-bottom: -9px;
  padding: 0 7px;
  width: -moz-fit-content;
  width: fit-content;
  color: #f7f3f1;
  font-weight: 600;
  background-color: #292e32;
  -webkit-text-decoration: underline #6a9d23;
          text-decoration: underline #6a9d23;
  position: relative;
  z-index: 3;
}
.template a,
.template h2,
.template h3 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.template .confirmButton {
  margin-bottom: 15px;
}
.template ul {
  padding: 15px 0;
}
.template ul li {
  display: inline-block;
  padding: 5px 20px;
}
.template p.creator {
  font-size: 12pt;
}
.template .editButton {
  position: relative;
  float: right;
  padding-top: 10px;
  width: 0;
  right: 30px;
}
.template .editButton span {
  font-size: 14pt;
}

.rank-container {
  background-color: #292e32;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
.rank-container ol {
  border-top: 1px solid #bfacb5;
}
.rank-container ul {
  border: 1px solid #bfacb5;
  margin: 0 20px;
}
.rank-container h2,
.rank-container a h3 {
  padding-top: 15px;
}
.rank-container h4 {
  margin: auto;
  margin-top: 25px;
  margin-bottom: -9px;
  padding: 0 7px;
  width: -moz-fit-content;
  width: fit-content;
  color: #f7f3f1;
  font-weight: 600;
  background-color: #292e32;
  -webkit-text-decoration: underline #6a9d23;
          text-decoration: underline #6a9d23;
  position: relative;
  z-index: 3;
}
.rank-container a,
.rank-container h2,
.rank-container h3 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.rank-container .confirmButton {
  margin-bottom: 15px;
}

.loadMoreButton {
  margin-top: 15px;
}

.cancelButton,
.promptButton {
  background-color: color-mix(in srgb, #7f7b82, #24272b 35%);
  margin-bottom: 10px;
}
.cancelButton:hover,
.promptButton:hover {
  background-color: color-mix(in srgb, #7f7b82, #24272b 50%);
}

.confirmButton {
  background-color: color-mix(in srgb, #5c0f0f, #24272b 35%);
}
.confirmButton:hover {
  background-color: color-mix(in srgb, #5c0f0f, #24272b 50%);
}

.dndCont .droppable {
  min-height: 50px;
}
.dndCont .dragOver {
  background-color: lightgray;
}
.dndCont .no-drag {
  background-color: darkgray;
}
.dndCont .dragging {
  background-color: darkmagenta;
}

:root {
  background-color: #24272b;
  color: #f7f3f1;
}

.center {
  margin-top: 50%;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 50px 50px 0 50px;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Viga", sans-serif;
}
h1 span,
h2 span,
h3 span {
  color: #6a9d23;
}

a {
  color: #6a9d23;
}
a:hover {
  color: color-mix(in srgb, #6a9d23, white 25%);
}

button {
  border-radius: 5px;
  border: none;
  padding: 0.3em 0.9em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: color-mix(in srgb, #6a9d23, #24272b 10%);
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: color-mix(in srgb, #6a9d23, white 5%);
  box-shadow: 0px 2px #000000;
}/*# sourceMappingURL=main.css.map */